.card {
  background-color: var(--background-secondary);
  border-radius: 32px;
  padding: 40px;
  display: flex;
  column-gap: 53px;
}

.image {
  aspect-ratio: 1;
}

.container_main {
  padding: 8px 0 0 0;
}

.tag {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  background-color: var(--background-primary);
  color: var(--text-primary);
  border-radius: 6px;
  padding: 0 16px;
}

.number {
  font-size: 17px;
  font-weight: 400;
  line-height: 27px;
  color: var(--text-tertiary);
  margin-top: 48px;
}

.title {
  font-size: 64px;
  font-weight: 400;
  line-height: 70.4px;
  letter-spacing: 2.5px;
  color: var(--text-primary);
  text-wrap: balance;
  margin-top: 18px;
}

.description {
  font-size: 22px;
  font-weight: 400;
  line-height: 33px;
  color: var(--text-secondary);
  text-wrap: balance;
  margin-top: 28px;
}

.button_show {
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  color: var(--text-primary);
  background-color: var(--text-tertiary);
  border-radius: 6px;
  margin-top: 18px;
  border: none;
  padding: 12px 20px;
  cursor: pointer;
}

.button_show:hover {
  opacity: 0.7;
}
